<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
 <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" />
 <script th:src="@{jquery/jquery.min.js}"></script>
  <script th:src="@{/jquery/bootstrap.min.js}"></script>
    <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header::header"></div>
<br>

<div class="container">
<table class="table table-striped">
<thead>
<tr>
<th>Id</th>
<th>Category Name</th>
<th>Action 1</th>
<th>Action 2</th>
</tr>
</thead>

<tbody>
<tr th:each="cat:${data}">
<td th:text="${cat.id}"></td>
<td th:text="${cat.name}"></td>
<td><a th:href="@{editCategory(id=${cat.id})}">Edit</a></td>
<td><a th:href="@{deleteCategory(id=${cat.id})}">Delete</a></td>
</tr>
</tbody>
</table>
</div> 
<div class="container">
<form >
<a class="btn btn-outline-primary" th:href="@{addCategory}" role="button">Add A New Category</a>
</form>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>